body {
    text-align: center;
    margin: auto;
    background-color: grey;
    background-size: auto;
}
.question {
    margin: auto;
    width: 90%;
    font-size: 18px;
    font-weight: bold;
    color: red;
}
form {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 90%;
    color: red;
}